@import "../../../style/variables.scss";
.scatter-chart__point {
  fill: $DARK_BLUE;
  cursor: grab;
  opacity: 0.5;
  &.dragging {
    cursor: grabbing;
  }
  &.active {
    opacity: 1;
  }
}
text {
  font-size: 13px;
  fill: $DARK_BLUE;
}
